body {
    display: flex;
    justify-content: center;
    background: rgb(42, 43, 58);
    font-family: sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container h3 {
    line-height: 30px;
}

.input {
    display: flex;
    gap: 20px;
}

#input {
    padding: 20px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
    background: transparent;
    color: white;
    width: 100%;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    color: white;
    background: rgb(95, 92, 136);
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media (max-width:475px) {
    button {
        font-size: 16px;
        padding: 10px;
    }
}